/*
All pages
*/

html {
  height: 100%;
  background-color: #680088;
}

body {
  font-family: sans-serif;
  margin: 0px;
}

footer {
  padding: 25px;
  transition: padding 1s ease;
}

/*
Header of every page
*/

.main-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: purple;
  border-top: solid 2px #666666;
  border-bottom: solid 2px #666666;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}

.main-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.main-menu a:hover {
  color: rgb(94, 255, 0);
}

header {
  background: linear-gradient(to bottom right, blue, red)
}

header h1 {
  color: white;
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 20px;
  margin-top: 0px;
  font-weight: bold;
}

/*
End - Header of every page
*/

/*
body
*/

.top-main {
  display: flex;
  justify-content: center;
  padding: 25px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.mid-main {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

/*
End - body
*/

/*
feedback
*/

.feedback {
  background-color: #8b00b6;
  border: solid 2px #666666;
  margin: 30px;
  transition: margin 1s ease;
}
.main-title {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

.in-feedback {
  margin: auto;
}

.detes {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.email {
  background-color: #680088;
  border: solid 2px #666666;
  width: 25%;
  transition: width 1s ease;
}

.email h4 {
  display: flex;
  justify-content: center;
  color: white;
}

.email p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.mobile {
  background-color: #680088;
  border: solid 2px #666666;
  width: 25%;

}

.mobile h4 {
  display: flex;
  justify-content: center;
  color: white;
}

.mobile p {
  text-align: center;
  color: white;
}

.social-stuff {
  background-color: #680088;
  border: solid 2px #666666;
  width: 25%;
}

.social-stuff h4 {
  display: flex;
  justify-content: center;
  color: white;
}

.ank {
  display: flex;
  justify-content: center;
}

.social-stuff a {
  text-align: center;
  color: white;
}

.social-stuff a:first-child {
  padding-right: 20px;
}

.social-stuff a:hover {
  color: rgb(94, 255, 0);
}

/*
End - Feedback
*/

/*
End - All Pages
*/


/*
index.html
*/

/*
Roulette box - Main page
*/

.roulette {
  background-color: #8b00b6;
  width: 300px;
  padding: 10px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-right: 140px;
}

.roulette h3 {
  display: flex;
  justify-content: center;

}

.roulette a {
  color: white;
  font-weight: bold;
}

.roulette a:hover {
  color: rgb(94, 255, 0);
}

.roulette p {
  text-align: center;
  color: white;
}

/*
End - Roulette box - Main page
*/

/*
Custom box - Main page
*/

.custom {
  background-color: #8b00b6;
  width: 300px;
  padding: 10px;
  padding-top: 0px;
  border: solid 2px #666666;
}

.custom h3 {
  display: flex;
  justify-content: center;
}

.custom a {
  color: white;
  font-weight: bold;
}

.custom a:hover {
  color: rgb(94, 255, 0);
}

.custom p {
  text-align: center;
  color: white;
}

/*
End - Custom box - Main page
*/

/*
Description
*/

.description {
  background-color: #8b00b6;
  padding: 10px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 30px;
  margin-right: 30px;
}

.description h3 {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.description p {
  text-align: center;
  color: white;
}

/*
End - Description
*/

/*
carousel
*/

.carousel {
  position: relative;
  width: 1000px;
  height: 563px; 
  overflow: hidden;/*no image will show beyond the width of carousel*/
  margin: auto;/*center the carousel*/
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  transition: height 3s ease-out;
}

.carousel-images {
  position: absolute;/*position is determined by parent*/
  z-index: 1;
  left: 0;
  width: 9000px; /* 9x1000 */
  height: 563px; 
  background-color: white;
  transition: left .5s ease-in-out;/*take .5 seconds to transtion to next image*/
}

.carousel-images img {
  width: 1000px;
  height: 563px;
  transition: height 3s ease-out;
}

.carousel nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;/*appear above image*/
  width: 1000px;
  height: 563px; 
  line-height: 500px;
}

.carousel nav a {/*arrows on each side*/
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 30pt;
  padding: 0px 25px;
  transition: all .25s ease;
  opacity: 0;
  background-color: rgba(0,0,0,0);
}

.carousel nav:hover a {
  transition: all .25s ease;
  opacity: 1;
  background-color: rgba(0,0,0,0.15);
}

.carousel-caption {
  position: absolute;
  z-index: 3;/*top surface*/
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.25);
  height: 50px;
  line-height: 50px;
  margin: 0px;
}

/*
End - carousel
*/

/*
End - index.html
*/

/*
roulette.html
*/

/*
Title for roulette
*/

.title h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.title p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

/*
End - Title for roulette
*/

/*
3x3 Gallery
*/

.gallery {
  display: flex; /*images will continue underneath the images after width is reached*/
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  margin: auto;/*center the gallery*/
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 33%;/* 100/3 */
  margin-bottom: 15px;
  text-decoration: none;
  color: #333;
  padding: 5px;
  box-sizing: border-box;/*within parent border*/
}

.gallery-item img {
  width: 100%;/*fills 100% of 33%*/
}

.gallery-item caption {
  margin-top: 5px;
  font-size: 0.75em;
}

.gallery-item:hover {
  background-color: #8b00b6;
}

.gallery-item:hover caption {
  color: #fff;
}

/*
End - 3x3 Gallery
*/

/*
custom.html
*/

/*
Rules for every game, This code is used for both roulette.html and custom.html
*/

.rules {
  display: flex;
  justify-content: space-evenly;
}

.rule {
  bottom: 25px;
  background-color: #8b00b6;
  width: 500px;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.rule h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.gameImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.rule h3 {
  display: flex;
  justify-content: center;
  color: white;
}

.rule p {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

/*
End - Rules for every game
*/

/*
End - roulette.html
*/

/*
Button start
*/

.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 5px;
  color: white;
  background-color: #680088;
}

/*
End - Button start
*/

/*
Active rules box
*/

.todo-list-box {
  bottom: 25px;
  background-color: #8b00b6;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  color: white;
}

/*
End - Active rules box
*/

/*
Input rules box
*/

.input-box {
  bottom: 25px;
  background-color: #8b00b6;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  color: white;
  display: flex;
  align-items: center;
}

.input-box:first-child {
  margin: 10px;
}

.Add-Rule-Text {
  margin: 20px;
  margin-right: 10px;
  margin-left: auto;
}

.new-todo {
  width: 150px;
  border: 1px solid #ffffff;
  color: white;
  background-color: #a603d8;
}

.add-todo {
  color: white;
  background-color: #680088;
}

/*
End - Input rules box
*/

/*
Non-active rules box
*/

.completed-list-box {
  bottom: 25px;
  background-color: #8b00b6;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  color: white;
}

/*
End - Non-active rules box
*/

/*
End - custom.html
*/

/*
about.html
*/

.description h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}

/*
List of links for the games
*/
.list-main {
  background-color: #8b00b6;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: solid 2px #666666;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px;
}

.list-main h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.list-main ul {
  list-style-type: none;
}

.georgia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
}

/*
End - List of links for the games
*/

/*
End - about.html
*/

@media(max-width: 1000px) {
  .carousel {
    width: 100%;
  }
  
  .carousel-images {
    width: 900%; /* 900% because 9 images */ 
  }

  .carousel-images img {
    width: 11.11%; /*100/9*/
  }
  
  .carousel nav {
    width: 100%;
  }
}

@media(max-width: 750px) {
  .carousel {
    height: 350px;
  }
  
  .carousel-images {
    height: 350px;
  }

  .carousel-images img {
    height: 350px;
  }
  
  .carousel nav {
    line-height: 350px;
  }
}

@media(max-width: 600px) {/*at 600px gallery shrinks*/
  .gallery {
    width: 100%; /*gallery width will full the browser*/
  }

  .gallery-item {
    width: 50% /*becomes a 2*5 gallery*/
  }
}

@media(max-width: 500px) {
  .gallery-item {
    width: 100%;/*becomes a 1x9 gallery*/
  }
}

@media(max-width: 900px) {
  footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .feedback {
    width: 95%;
    margin: auto;
  }
  .email {
    width: 40%;
  }
}